.list-group-hover,
.list-group-item:hover {
    background-color: #f5f5f5;
}

.file-name-new{
  font-weight:bolder;
  font-size: 1rem;
}

#fileslist :focus,
#fileslist :active {
    box-shadow: none;
    outline: none;
}

