password=
IMAGE="python3 /opt/brother/scanner/brscan-skey/script/scantoimage.py"
OCR="python3 /opt/brother/scanner/brscan-skey/script/scantoocr.py"
EMAIL="python3 /opt/brother/scanner/brscan-skey/script/scantoemail.py"
FILE="python3 /opt/brother/scanner/brscan-skey/script/scantofile.py"
SEMID=b
eth=
ip_address=
